.expand .item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px 15px;
  width: 100%;
  max-width: 90%;
  height: auto;
  max-height: 38px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  cursor: pointer;
  transition: max-width .1s ease-in-out .1s, margin-top .1s ease-in-out .1s, margin-bottom .1s ease-in-out .1s, max-height .06s ease-in-out;
}

.expand .item .item-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.expand .item .item-content {
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

/* Open the item */
.expand .item.open {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 100%;
  max-height: 5000px;
  transition: max-width .3s ease-in-out, margin-top .3s ease-in-out, margin-bottom .3s ease-in-out, max-height .1s ease-in-out .1s;
}

.expand .item.open .item-content {
  opacity: 1;
  transition: opacity .2s ease-in-out .3s;
}
